/*
RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* 
 GENERAL
 */

 body{
    font-family: 'Open Sans', sans-serif;
 }
 
 /* 
 
   HEADER
 
 */


 header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 10vh;
   background-color: #FFFFFF;
   color: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
 }
 
 .logo img {
   display: flex;
   align-items: center;
   height: 18px;
 }

 
 nav ul {
   display: flex;
   list-style: none;
 }
 
 nav li {
   margin-left: 20px;
 }
 
 nav a {
   color: black;
   text-decoration: none;
   font-size: 12px;
 }

 .header-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }

 .supporto-accesso {
   display: flex;
   align-items: end;
 }
 
 .supporto-accesso a {
   color: black;
   text-decoration: none;
   font-size: 12px;
   margin-left: 10px;
 }

 .button-inizia{
   background:#0061ff;
   border-radius:1px;
   padding:5px 18px;
   color: #ffffff;
   display:inline-block;
   font: 12px;
   text-align:center;
   margin-right: 10px;
 }

 /* 
 
 FINE HEADER
 
 */


 /* 
 
 MAIN
 
 */

 h1{

   font-size: 3.5em;
   font-weight: 800;

}

.my-row-1{
   height: 75vh;
   width: 100%;
   margin: 0 auto;
   background-color: #b4d0e7;
   margin-top: 10vh;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.container-row-1{
   padding-top: 50px;
   width: 55%;
   height: 40%;
   margin: 0 auto;
   text-align: left;
}

.p-section-1 {
   font-size: 12px;
   font-weight: 500;
   padding-top: 30px;
   width: 16%;
   height: 31%;
   margin: 0 auto;
   text-align: left;
   margin: 0 auto;
   position: absolute;
   top: 51%;
   left: 30.5%;
   transform: translate(-50%, -50%);

}
.img-section-1{

   /* padding-top: 30px; */
   width: 40%;
   height: 70%;
   position: absolute;
   top: 76%;
   left: 60%;
   transform: translate(-50%, -50%);

}

.button-section-1{

   background:#0061ff;
   font-weight: 400;
   border-radius:1px;
   padding:8px 10px;
   color: #ffffff;
   display:inline-block;
   font-size: 12px;
   text-align:center;
   position: absolute;
   top: 68%;
   left: 27.8%;
   transform: translate(-50%, -50%);

   

}
.p-section-1-2{

   font-size: 12px;
   font-weight: 500;
   padding-top: 30px;
   width: 16%;
   height: 31%;
   text-align: left;
   margin: 0 auto;
   position: absolute;
   top: 85%;
   left: 30.5%;
   transform: translate(-50%, -50%);
}
.icon-section-1{
   font-size: 12px;
   font-weight: 800;
   padding-top: 30px;
   width: 16%;
   height: 31%;
   margin: 0 auto;
   text-align: left;
   position: absolute;
   top: 95%;
   left: 30.5%;
   transform: translate(-50%, -50%);
}


 /* DEBUG */
 .header-container{

   /* background-color: aquamarine; */
}



.my-row-1{


}

.container-row-1{

   /* background-color: blueviolet; */
}